<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:fragment="showClassInfo(character)">
<!-- 	<h3 th:text="#{character.gameClass.title(${character.className})}"></h3>
 -->

                  <!-- Major Skills -->
	            <h6 th:text="#{character.gameClass.majorSkills}"></h6>
	            <div 
                        th:insert="fragments/statList.html
                  :: showStats(table=${character.majorSkills})"></div>
	        
	           
	           <div class="thin-border divider"></div>
	           
	                  <!-- Minor Skills -->
	            <h6 th:text="#{character.gameClass.minorSkills}"></h6>
                <div 
                    th:insert="fragments/statList.html
                  :: showStats(table=${character.minorSkills})"></div>
	            
	            <div class="thin-border divider"></div>
	            
	            <!-- Misc Skills -->
	            <h6 th:text="#{character.gameClass.miscSkills}"></h6>
                <div th:insert="fragments/statList.html
                  :: showStats(table=${character.miscSkills})"></div>
                
</div>

</html>