<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<th:block th:fragment="showStat(title, value, headerColor)">
			<th:block th:if="${headerColor}">
    			<td  class="one"  th:text="${title}" style= "color: var(--header-color);white-space: nowrap;"></td>
   			</th:block>
   			<th:block  th:if="${not headerColor}">
        		<td class="one"  th:text="${title}" style="white-space: nowrap;"></td>
        	</th:block>
	        <td th:text="${value}" style="padding-left:20px; text-align:right"></td>
</th:block>
</html>