<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <div class="mbook-thin-border video" th:fragment="streamable(video, id)">
        <!-- Video Title -->
	    <h2>
	       <a th:href="@{/videos(id=${id})}"  th:text="${video.name}"></a>
	    </h2>
	    <!-- Emdeded Streamable video -->
	    <div style="text-align: left; width: 100%; height: 0px; position: relative; padding-bottom: 30%;">
	        <iframe 
                th:src="${video.url}" 
                frameborder="0" width="100%" height="100%" 
                allowfullscreen style="width: 100%; height: 100%; position: absolute;"
            ></iframe>
	    </div>  
	    <div class="description"  th:text="${video.description}"></div>
    </div>
</html>