

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: top;
  padding-top: 100px;
  padding-bottom: 40px;
}

.main-content {
	padding-top: 40px;
	padding-bottom: 40px;
}

.video {
    border-style: outset;
    padding: 15px;
    
}

.description {
	padding: 15px;
	text-align: -webkit-center;
	width: auto;
}
