:root {
    --header-color:#b9ab90;
    --normal-color:#957b4c;
    --link-color-normal: #8fb2d8;
    /* --link-color-active */
}

@font-face {
	font-family: "pelagiad";
	src: url("/fonts/pelagiad/Pelagiad.ttf") format("truetype");
}

html {
	height: 100%;
}

body {
    padding-top: 60px; 
	background-color: black;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: top;
	padding-bottom: 20px;
	font-family:"pelagiad";
	color: var(--normal-color);
	height: 100%; 
	width: 100%;
	
} 

a{
	color: var(--link-color-normal);
}
a:hover {
	color: cornflowerblue;
}
ul {
	padding-inline-start: 0px;
	list-style: none;
	
}


li {
	white-space: nowrap;
	padding-right: 10px;
	
}

h1, h2, h3, h4, h5, h6 {
	color:var(--header-color);
	font-weight:normal;
}

table {
	border-collapse:unset;
}

@media(max-width: 575.998px) {
	.main-content {
	    flex-direction:column-reverse;
	}
	.sidebar {
	   height: max-content!important;
	   max-height: 30%;
    }
    .profile-img {
		width: 120px;
	}
    
}

@media(min-width: 576px) {
	.sidebar {
        flex: 0 1 auto;
 		margin-right: 10px;
    }
    .profile-img {
		width: 200px;
	}
    
}

.row {
	height:100%;
}


.navbar {
	border-image: url(border.png) 20 20 20 20 repeat;
	border-width: 6px;
    border-bottom-style: solid;
    background: black;
}

.thin-border {
	border-image: url(border.png) 20 20 20 20 repeat;
	border-width: 4px;
    border-style: solid;
    padding: 10px;
    margin-bottom:10px;
	scroll-margin: 50px;

}

.divider {
	border-image: url(border.png) 20 20 20 20 repeat;
	border-width: 1px;
    padding:0!important;
    margin-top: 10px;
    height: 0px!important;
}

.main-content {
    width: 100%;
    padding: 10px;
    display:flex;
}


.sidebar {
	    min-width: fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-width: -moz-fit-content;
   
}

.content {
    flex:1 1 auto;
    padding-right: 20px;
}

.scroll-box {
    overflow:hidden; 
    overflow-y:auto;
    outline-offset: 10px;
    height:100%;
    
}

.fit-content {
	min-width: fit-content;
    min-width: -moz-fit-content;
}

.fill-content {
	width: 100%;
}

.bottom-text {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.profile-img-container {
	margin: auto;
    width: max-content;
    padding:0!important;
}



.video {
	text-align: center;
    outline-offset: 30px;
}

.description {
	padding: 15px;
	width: auto;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #8fb2d8;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    width: -webkit-fill-available;
    text-align: left;
}

.subheading {
	/* padding: 5px; */
	white-space: nowrap;
}
