<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
	<title th:text="#{password.title}"></title>
	<link rel="stylesheet" href="/css/login-form.css" />
</head>
<body class="text-center">
    <div layout:fragment="content">
        <div th:if="${pwChanged}">
            <h1 class="h3 mb-3 font-weight-normal" th:text="#{password.changed}"></h1>
            <a class="nav-item" th:href="@{/}" method="get" th:text="#{returnHome}"></a>
        </div>
        <div th:if="not ${pwChanged}">
            <div class="error-message" th:if="${error}" th:text="${error}"></div>
            <form class="form-signin" th:action="@{/changePassword}" method="post">
                <h1 class="h3 mb-3 font-weight-normal" th:text="#{password.title}"></h1>
                <label for="oldPassword" class="sr-only" th:text="#{password.input.current}"></label>
                <input 
                    type="password" name="oldPassword" id="oldPassword" 
                    class="form-control" th:placeholder="#{password.input.current}" required="" 
                />
                <label for="newPassword" class="sr-only" th:text="#{password.input.new}"></label>
                <input 
                    type="password" name="newPassword" id="newPassword" 
                    class="form-control" th:placeholder="#{password.input.new}" required="" 
                />
                <button 
                    class="btn btn-lg btn-primary btn-block" 
                    type="submit" th:text="#{password.submit}"
                ></button>
            </form>
        </div>
    </div>
</body>
</html>