<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Login</title>
</head>
<body class="text-center">
    <div layout:fragment="content">
        
        <div th:if="${pwChanged}">
			<div>
			Your password has been changed successfully.
			</div>
			<!-- <div id="counter">3</div>
			<script>
                setInterval(function() {
                    var div = document.querySelector("#counter");
                    var count = div.textContent * 1 - 1;
                    div.textContent = count;
                    if (count <= 0) {
                        window.location.replace('../');
                    }
                }, 1000);
            </script> -->

			<a class="nav-item" th:href="@{/}" method="get">Return home</a>
        </div>
        
        <div th:if="not ${pwChanged}">
        
            <div class="error-message" th:if="${error}" th:text="${error}"></div>
        
            <form class="form-signin" th:action="@{/changePassword}" method="post">
            
                <h1 class="h3 mb-3 font-weight-normal">Change your password</h1>
                             
                <label for="oldPassword" class="sr-only">Current Password</label>
                <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Old Password" required="" />
                
                <label for="newPassword" class="sr-only">New Password</label>
                <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password" required="" />
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>

	        </form>
	
	    </div>
	</div>
</body>
</html>