<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}"
>
    <head>
        <title th:text="#{character.title(${character.gameCharacter.name})}"></title>
    </head>
    <body >
    <div layout:fragment="sidebar" class="sidebar">
	    <div class="scroll-box thin-border fit-box">
	        <div th:insert="fragments/classInfo.html 
	            :: showClassInfo(class=${character.gameCharacter.gameClass})"
	        ></div>
	    </div>
    </div>
    <div layout:fragment="content"  class="thin-border scroll-box">
        <h2 th:text="#{character.title(${character.gameCharacter.name})}"></h2>
        <h5 class="subheading">
            <span th:text="#{character.owner}"></span>
            <a  th:href="|/profile?username=${owner.username}|" 
                th:text="${owner.username}"></a>
        </h5>
        <div  th:insert="fragments/description.html :: showDescription(title=#{character.bio}, description=${character.bio})"></div>
    </div>
    </body>
</html>