<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">
<head>
<title th:text="#{character.title(${character.name})}"></title>
</head>
<body>
	<div layout:fragment="sidebar">
		<h5 class="subheading" th:text="|Characters|"></h5>
		<ul>
			<th:block th:each="character,i : ${owner.gameCharacters}">
				<li><a th:href="|\character?user=${owner.username}&character=${character}|"
					th:text="${character}"></a>
			    </li>
			</th:block>
		</ul>
	</div>
	<div layout:fragment="content">

		<div class="row">

			<div class="col">
				<h2 th:text="#{character.title(${character.name})}"></h2>

				<span class="subheading">
					<span th:text="#{character.owner}"></span> <a
						th:href="|/profile?username=${owner.username}|"
						th:text="${owner.username}"></a>
				</span>

				<div th:insert="fragments/description.html 
				    :: showDescription(title=#{character.bio}, 
				    description=${character.bio})"
				></div>

			</div>



			
			<div class="col-auto">
				<table style=" width:100%;"><tr>
					<td valign="top" class="thin-border">
						<div class="thin-border profile-img-container">
							<img class="profile-img" src="images/brainlet.png">
						</div>
						<table style="width: 100%">
							<tr
								th:insert="fragments/stat.html
	           			:: showStat(title='Level', value=${character.level}, headerColor=true)"></tr>
	
							<tr
								th:insert="fragments/stat.html
	           			:: showStat(title='Race', value=${character.race}, headerColor=true)"></tr>
	
							<tr
								th:insert="fragments/stat.html
	           			:: showStat(title='Class', value=${character.className}, headerColor=true)"></tr>
						</table>
						<div class="thin-border divider"></div>
						<div
								th:insert="fragments/statList.html
		                  :: showStats(table=${character.attributes})"></div>
					</td>
					<td valign="top" class="thin-border" 
						th:insert="fragments/classInfo.html 
	                  :: showClassInfo(character=${character})"></td>
				</tr></table>

			</div>
		</div>




	</div>
</body>
</html>