<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"
		th:text="#{siteName}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

    <!-- Navigation bar -->
	<header class="mbook-navbar navbar navbar-expand-lg navbar-dark fixed-top">
		<a class="navbar-brand" href="/" th:text="|#{siteName}|"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- Contents Menu - Lefthand side -->
			<ul class="navbar-nav mr-auto">
				<th:block th:each="page,i : ${pages}">
			        <li th:if="${page.showInMenu}" class="nav-item active">
                        <a class="nav-link" th:href="${page.href}" th:text="${page.title}">
                            <span class="sr-only"></span>
                        </a>
                    </li>

	            </th:block>
			</ul>
			<!--  Login/Logout - Righthand side -->
			<ul class="navbar-nav ml-auto">
				<li class="nav-item" th:if="${currentUser == null}">
				    <a class="nav-link" th:href="@{/login}" th:text="#{menu.login}"></a>
			    </li>
			    
				<form th:action="@{/logout}" method="post" th:if="${currentUser}">
                    <button 
                        class="btn-link nav-link"
                        type="submit" 
                        th:text="|${currentUser.username} - #{menu.logout}|"
                    ></button>
                </form>
			</ul>
		</div>
	</header>
	

	<!--  Side Bar -->
	<div>
	   <div layout:fragment="sidebar"></div>
	</div>
	
	<!-- Main Content -->
	<div class="main-content">
		<div class="thin-border scroll-box fill-content" layout:fragment="content"></div>
	</div>
	
	<!-- /.container -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
	
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
		
		
		
	<th:block layout:fragment="script"></th:block>
</body>
</html>