<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <head>
        <title th:text="#{home.title}"></title>
    </head>
	<body>
	<div layout:fragment="content">
        <div id="main-content">
	       <h1 th:text="#{splash.header}"></h1>
	       <!-- <a th:text="#{splash.sub}"></a> -->
	       <div th:insert="fragments/characterTiles.html 
                    :: showTiles(list=${list})"
           ></div>
	    </div>
	</div>

	</body>
</html>