<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/login-form.css" />
    </head>
    <body class="text-center">
        <div layout:fragment="content">
            
            <div th:if="${loggedIn}">
                You are already logged in. 
            </div>
            
            <div th:if="not ${loggedIn}">
            
                <form class="form-signin" th:action="@{/login}" method="post">
                    <!-- 
	                    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />
	                 -->
	                <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
	                 
	                <div class="login-message">
	                    <div th:if="${successMessage}" th:text="${successMessage}"></div>
	                    <div th:if="${param.error}">Invalid email and password.</div>
	                    <div th:if="${param.logout}">You have been logged out.</div>
	                </div>
	                
	                <label for="inputUsername" class="sr-only">Username or Email address</label>
	                <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Username or Email" required="" />
	                
	                <label for="inputPassword" class="sr-only">Password</label>
	                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" />
	                
	                <tr>
		                <td>Remember Me:</td>
		                <td><input type="checkbox" name="remember-me" /></td>
		            </tr>
	                
	                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
	            </form>
	            
	            <form class="form-signin" th:action="@{/signup}" method="get">
	                <button class="btn btn-md btn-success btn-block" type="Submit">Create a New Account</button>
	            </form>
            </div>
        

        </div>
    </body>
</html>