<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}"
>
    <head>
        <title th:text="#{signup.title}"></title>
        <link rel="stylesheet" href="/css/login-form.css" />
    </head>
    <body class="text-center">
        <div layout:fragment="content">
            <form class="form-signin" th:action="@{/signup}" method="post">
                <!-- 
                <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />
                 -->
                <h1 class="h3 mb-3 font-weight-normal" th:text="#{signup.title}"></h1>
                <div class="error-message" >
                    <div th:if="${errorMessage}" th:text="|${errorMessage}|"></div>
                </div>
                
                <label for="inputUsername" class="sr-only" th:text="#{signup.input.username}"></label>
                <input 
                    type="text" name="username" id="username" 
                    class="form-control" th:placeholder="#{signup.input.username}" required="" 
                />
                <label for="inputUsername" class="sr-only" th:text="#{signup.input.email}"></label>
                <input 
	                type="email" name="email" id="inputEmail" 
	                class="form-control" th:placeholder="#{signup.input.email}" required="" 
	            />
                <label for="inputPassword" class="sr-only" th:text="#{signup.input.password}"></label>
                <input 
                    Type="password" name="password" id="inputPassword" 
                    class="form-control" th:placeholder="#{signup.input.password}" required="" 
                />
                <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{signup.submit}"></button>
            </form>
            <form class="form-signin" th:action="@{/login}" method="get">
                <button class="btn btn-md btn-primary btn-block" type="Submit" th:text="#{login.title}"></button>
            </form>
        </div>
    </body>
</html>