<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}"
>
    <head>
        <title th:text="#{users.title}"></title>
    </head>
    <body>

		<div layout:fragment="sidebar">
			<h4 th:text="|#{users.title}:|"></h4>
			<ul>
				<th:block th:each="user,i : ${users}">
					<li>
					   <a th:href="|\userlist?user=${user.username}|" 
					   th:text="${user.username}"></a>
					</li>
				</th:block>
			</ul>
		</div>
	
		<div layout:fragment="content">
	        <div th:if="${user}">
	            <div th:insert="fragments/profile.html :: showProfile(user=${user})"></div>
	        </div>
	        <div th:if="not ${user}">
	            <div  th:insert="fragments/profile.html :: showProfile(user=${currentUser})"></div>
	        </div>
	    </div>
    
    
    </body>
</html>