<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{../css/general.css}"/>
        <title th:text="|${siteName}: Users|"></title>
    </head>
    <body >
    <header th:insert="fragments/general.html :: header"> </header>
    <div class="row">
      <div class="column left">
            <div th:insert="fragments/general.html :: siteMenu"></div>
      </div>
      <div class="column right">
	        <div id="main-content"> 
	            <h1 style="text-align: center">Current Users: </h1>
	            <th:block th:each="user,i : ${users}">
	               <div th:insert="fragments/user.html :: showUser(user=${user}, id=${i.index})"></div>
	            </th:block>
	        </div>
       </div>
    </div>
        
        
    </body>
</html>