<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}"
>
    <head>
        <title>Users</title>
    </head>
    <body class="text-center">
    <header th:insert="fragments/general.html :: header"> </header>
    <div layout:fragment="content">
        <div id="main-content"> 
            <h1 style="text-align: center">Current Users: </h1>
            <th:block th:each="user,i : ${users}">
               <div th:insert="fragments/user.html :: showUser(user=${user}, id=${i.index})"></div>
            </th:block>
        </div>
    </div>
        
        
    </body>
</html>