<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}"
>
    <head>
        <title>Videos</title>
    </head>
    <body>
    
       
    <div layout:fragment="content">
    

       
	   <div th:if="not ${param.id}">
	       <h1 style="text-align: center">Latest Videos:</h1>
	   </div>
	    <th:block th:each="video,i : ${videos}">
	       <div th:insert="fragments/video.html :: streamable(video=${video}, id=${i.index})"></div>
	    </th:block>      
	    
        <div th:if="${param.id}">
            <div style="text-align: center; padding-top: 20px"> <a href="/videos" >Back to Videos</a></div>
        </div>
	    
    </div>
    </body>
</html>